
<!DOCTYPE html>
<html>
<head>
    <title>Mi Proyecto</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <h1>Bienvenido a Mi Proyecto</h1>
    <ul>
        <li><a href="{{ url_for('readme') }}">Leerme</a></li>
        <li><a href="{{ url_for('explanation') }}">Explicación del Problema</a></li>
        <li><a href="{{ url_for('performance') }}">Gráficas de Desempeño</a></li>
        <li><a href="{{ url_for('prediction') }}">Consumir Servicio de Predicción</a></li>
    </ul>

    <!-- Puedes agregar más contenido aquí -->

</body>
</html>
